main {
    width: 100%;
    height: 100%;
}
.Topics {
    display: flex;
    width: 100%;
    border-bottom: .4px solid var(--border-color);
    float: left;
    padding: 10px 5px 4px 0px;
    margin-right: 4px;
}
.Topics span {
    margin: 3px 8px;
    padding: 2px 8px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color);
    border-right: 1px solid var(--color);

}
.Topics ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: 0;
}
.Topics ul li {
    list-style-type: none;
    display: inline-block;
    margin: 6px 5px;
}
.Topics ul li a {
    text-decoration: none;
    color: var(--link-color);
}

.cat {
    display: inline-flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cat-unit {
    width: 90px;
    height: 80px;
    background-color: var(--card-color);
    border-radius: 10px;
   text-align: center;
    padding: 5px;
    
}
.cat-unit .cat-url {
    text-decoration: none;
    color: var(--color);
}
.cat-unit .cat-url>i{
    font-size: 40px;
    text-align: center;
}

.youtube{
    background: -webkit-linear-gradient( red,rgb(192, 43, 43));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.podcast {
    color: palevioletred;
    background: -webkit-linear-gradient(palevioletred,rgb(192, 42, 92));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.deezer{
    background: -webkit-linear-gradient( rgb(188, 188, 27),rgb(124, 130, 165), rgb(16, 14, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.spotify{
    color: rgb(43, 109, 43);
    background: -webkit-linear-gradient(rgb(22, 168, 22),rgb(17, 161, 17));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.soundcloud{
    color: orange;
    background: -webkit-linear-gradient(rgb(255, 183, 0),rgb(145, 167, 77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playstore{
    background: -webkit-linear-gradient( 25deg,rgb(188, 27, 27), rgb(210, 179, 24));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2,h1,h3,h4{
    color: var(--color);
    display: block;
}